<p>Dear <%= name %>,</p>
<br/>
<p>You have just changed your email on <%= appName %></p>
<p>Please visit this url to verify your email:</p>
<a href="<%= url %>"><%= url %></a>
<br />
<br />
<p><a href="http://www.blablaer.com/tickets/create">Send a contact</a> for us if has anything problem.</p>
<p>The <%= appName %> Support Team</p>